@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #f19f00;
  --color-secondary: #232323;
  --color-project-card: #090909;
}

:root {
  --background: linear-gradient(135deg, #000000 0%, #1e1e1e 100%);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(135deg, #000000 0%, #1e1e1e 100%);
    --foreground: #ededed;
  }
}

body {
  color: #ededed;
  background: var(--background);
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}
